@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 100;
  src:
    url('/fonts/woff2/Farhang2-Thin.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Thin.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 200;
  src:
    url('/fonts/woff2/Farhang2-ExtraLight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-ExtraLight.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 300;
  src:
    url('/fonts/woff2/Farhang2-Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Light.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 500;
  src:
    url('/fonts/woff2/Farhang2-Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Medium.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 600;
  src:
    url('/fonts/woff2/Farhang2-DemiBold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-DemiBold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 800;
  src:
    url('/fonts/woff2/Farhang2-ExtraBold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-ExtraBold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: 900;
  src:
    url('/fonts/woff2/Farhang2-Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Black.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: bold;
  src:
    url('/fonts/woff2/Farhang2-Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Bold.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'farhang2';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/woff2/Farhang2-Regular.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/Farhang2-Regular.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  font-family: 'farhang2';
}
