@import './font.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  direction: rtl !important;
  background-color: #0a0d1a !important;
  overflow-x: hidden;
}
